<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Welcome to a blog which uses couchdb and tg2</title>

    <style type="text/css">
        #encabezadoTabla
        {
            font-size: 10px;
            text-align: center;
            background-color: #C0C0C0;
        }
        #odd
        {
            background-color= #FFFFFF;
        }
        #even
        {
            background-color= #DDDDDD;
        }
    </style>
<style type="text/css">
        @import "/javascript/dijit/themes/tundra/tundra.css";
        @import "/javascript/dojo/resources/dojo.css";
        @import "/javascript/dojox/image/resources/image.css";
    </style>
           <script type="text/javascript" src="/javascript/dojo/dojo.js" 
                     djConfig="parseOnLoad: true"></script>
             <script type="text/javascript">
                     dojo.require("dojo.parser");
                     dojo.require("dijit.form.DateTextBox");
                     dojo.require("dijit.form.TextBox");
                     dojo.require("dijit.form.Button");
                     dojo.require("dijit.Editor");
                     function check_editor(evt) {
                         content = dijit.byId('contents').getValue(false);
                         if (! content) {
                              // you can easily replace this with a nicer dojo Dialog
                             alert("You can't leave this empty!");
                             // prevent the form from submitting
                             evt.preventDefault(); 
                         }
                         dojo.byId('content_field').value = content;
                     }
 
                     function connect_form() {
                         dojo.connect(dojo.byId('my_form'), 'onsubmit', check_editor);
                     }
 
                    dojo.addOnLoad(connect_form);

             </script>

</head>
<body class="tundra">
<a href="/" style="font-size: 10px">Home</a>
<h3 style="text-align: center; font-size: 14px;" >Blog</h3>
<h4 style="text-align: center; font-size: 12px;" >New Post</h4>
<span align="center">
<form method="post" action="savepost" id="my_form">
<input type="hidden" name="content_field" id="content_field"  />
<table align="center">
<tr><td>Subject</td><td align="left"><input id="subject" align="left" dojoType="dijit.form.TextBox" style="text-align: left; width: 400px;" uppercase="true" name="subject" /></td></tr>
<tr><td>Contents</td><td>
<textarea id="contents" dojoType="dijit.Editor" name="contents" jsId="contents" />
</td></tr>
<tr><td>Tag</td><td align="left">
<input id="tag" dojoType="dijit.form.TextBox" uppercase="true" style="width: 150px" name="tag" />
</td></tr>
<tr><td colspan="2" id="tags"></td></tr>
<tr><td colspan="2" align="center"><input type="submit" id="correcto" dojoType="dijit.form.Button" name="correcto" label="Ok" iconClass="plusIcon" /></td></tr>
</table>
</form>
</span>
</body></html>
